<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500"
      type="image/xml+svg"
    />
    <link rel="stylesheet" href="./../css/main.css" />
    <script src="./../js/main.js" type="module"></script>
    <script src="./../js/login/login.js" type="module"></script>
    <title>로그인</title>
  </head>

  <body class="login -bg--lion-primary flex justify-center min-w-[320px] h-screen">

    <div class="login-wrapper flex flex-col px-[36px] pt-[62px] items-center justify-center">

      <div class="items-center">
        <img class="w-[103px] h-auto" src="./../assets/login/lion-place.png" alt="라이언 플레이스 로고" />
      </div>
      
      <h1 class="-text--lion-label-xl -text--lion-white block w-full mt-[100px]">로그인</h1>
      <form action="#" method="POST">
        <fieldset>
          <div class="mt-[24px] login-form-container flex flex-col gap-[12px]">
           
              <label for="user-id" class="sr-only">아이디</label>
              <input class="login-id-input px-[20px] py-[12px] bg-transparent border -border--lion-white border-solid rounded -text--lion-white focus:outline-none" type="text" id="user-id" placeholder="아이디를 입력해주세요" minlength="3" autocomplete="off"/>
              <span class="error-message -text--lion-info-error -text--lion-paragraph-small hidden">아이디는 숫자를 포함한 최소 3글자의 영문입니다.</span>
            
              <label for="user-pw" class="sr-only">비밀번호</label>
              <input class="login-pw-input px-[20px] py-[12px] bg-transparent border -border--lion-white border-solid rounded -text--lion-white focus:outline-none" type="password" id="user-pw" placeholder="비밀번호를 입력해주세요" minlength="8"/>
              <span class="error-message -text--lion-info-error -text--lion-paragraph-small hidden">비밀번호는 숫자, 특수문자를 포함한<br/>최소 8자의 영문입니다.</span>

            
            <div class="find-wrapper flex justify-end -text--lion-white -text--lion-paragraph-small mb-[28px]">
              <div class="find-id after:content-['|'] after:w-[1px] after:h-[10px] after:mx-[4px] after:text-[#c2c2c275]"><a href="#">아이디 찾기</a></div>
              <div class="find-pw"><a href="#">비밀번호 찾기</a></div>
            </div>

            <button class="login-btn py-[18px] bg-white rounded -text--lion-paragraph-small" type="submit">로그인</button>
            <a class="py-[18px] block bg-transparent rounded border -text--lion-white text-center -text--lion-paragraph-small" href="./views/register.html">회원가입</a>

        

          </div>
        </fieldset>
      </form>



    </div>

  </body>
</html>
