<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="icon"
      href="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500"
      type="image/xml+svg"
    />
    <link rel="stylesheet" href="../css/main.css" />

    <script src="../js/main.js" type="module"></script>

    <title>start</title>
  </head>


  <!--
    
    a 태그
      1. 버튼으로 했다가 a 태그로 바꿨는데 설정값이 안먹어서 div 로 한 번 감싸줬는데 이렇게 작성하는게 맞나요?
      2. a 태그를 흰색 칸 전체에 맞게 하는 방법

      -> a 태그에 block 입력해서 block 요소로 바꾸어 주며 해결!
        span 태그에도 동일하게 적용


  -->

  <body class="-bg--lion-primary flex justify-center min-w-[320px] h-screen">
      <!-- 여기에 gap-[174px] 하면 안먹는데 이유가 뭔가요? img 를 div 로 감쌌을때도 적용이 안되었습니다!
          -> flex-col 은 flex-direction 속성값만 가지고 있어서 flex ( display: flex ) 를 추가 작성해줌으로써 해결 !
      -->

        <div class="flex flex-col gap-[174px] justify-center items-center"> 
          <img class="w-[182px]" src="./../assets/login/lion-place.png" alt="라이언 플레이스 로고" />
            
          <a href="./../login.html" class="bg-white w-[250px] h-[41px] border rounded pt-3 pb-3 -text--lion-paragraph-small text-center block">시작하기</a>
        </div>
  </body>

</html>
