<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="icon"
      href="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500"
      type="image/xml+svg"
    />
    <link rel="stylesheet" href="../css/main.css" />

    <script src="../js/main.js" type="module"></script>

    <title>start</title>
  </head>

  <body>

    <div class="-bg--lion-primary w-[320px] h-auto pr-9 pl-9">

      <!-- 여기에 gap-[174px] 하면 안먹는데 이유가 뭔가요? img 를 div 로 감쌌을때도 적용이 안되었습니다! -->
        <div class="flex-col gap-[174px] items-center w-full">
            
            <img class="pl-[70px] pr-[70px] pt-[180px]" src="./../assets/login/lion-place.png" alt="라이언 플레이스 로고" />
            
            <button class="start-button bg-white w-[251px] h-[41px] rounded pt-3 pb-3 mb-48 mt-[174px] -text--lion-paragraph-small" onclick="">시작하기</button>

        </div>

        
    </div>

  </body>

</html>
