<!doctype html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" type="image/xml+svg" />
    <link rel="stylesheet" href="../css/main.css" />
    <script src="../js/main.js" type="module"></script>
    <title>project</title>
</head>

<body class="bg-[#F9F9F9]">
    <div class="w-[90%] mx-auto">
        <section class="bg-[url('./../assets/map/reviewPost.png')] bg-cover bg-center pb-8">
            <div class="flex flex-row justify-between px-[10px] py-[14px]">
                <button>
                    <img src="./../assets/map/Icon/left.png" alt="뒤로가기" />
                </button>
                <button class="flex flex-row rounded-[50px] -bg--lion-lightblue-300 px-3">
                    <img class="py-2" src="./../assets/map/Icon/check.png" alt="등록" />
                    <span class="py-3 -text--lion-label-small text-white">등록</span>
                </button>
            </div>
            <div class="flex flex-col">
                <input class="bg-transparent mx-4 mt-[10px] -text--lion-label-xl text-white -placeholder--lion-white border-none outline-none" minlength="1" maxlength="20" type="text" placeholder="제목을 입력해 주세요"/>
                <span class="mr-[22px] self-end -text--lion-paragraph-small -text--lion-contents-content-secondary"><span
                        class="-text--lion-label-small text-white">9</span>/20</span>
                <input class="bg-transparent mx-4 mt-[14px] -text--lion-label-small text-white -placeholder--lion-white border-none outline-none" minlength="1" maxlength="20" type="text" placeholder="어떤 리스트인지 설명 해주세요"/>
                <span
                    class="mr-[22px] mt-3 self-end -text--lion-paragraph-small -text--lion-contents-content-secondary"><span
                        class="-text--lion-label-small text-white">9</span>/100</span>
            </div>
            <button class="mx-auto mt-[82px] flex rounded-[50px] border-[1px] border-white px-3 py-2">
                <img src="./../assets/map/Icon/photo.png" alt="" />
                <span class="ml-1 mt-[2px] text-white">커버변경<span class="-text--lion-paragraph-small"> 필수</span></span>
            </button>
        </section>
        <div class="ml-4 mr-7 mt-[18px] flex items-center justify-between">
            <div class="flex items-center gap-1 text-center">
                <h2 class="-text--lion-label-medium">리뷰</h2>
                <span class="-text--lion-label-medium -text--lion-info-error">2<span
                        class="-text--lion-contents-content-tertiary">/10</span></span>
            </div>
            <ul class="flex gap-1 pt-1 -text--lion-label-small -text--lion-contents-content-secondary">
                <li class="after:ml-1 after:content-['|']">임시저장</li>
                <li class="after:ml-1 after:content-['|']">순서변경</li>
                <li>전체삭제</li>
            </ul>
        </div>
        <img class="fixed bottom-[72px] right-[16px] z-10" src="./../assets/map/Icon/plus.png" alt="추가하기" />
        <figure class="ml-4 mt-3 flex items-center">
            <div class="mr-[6px] rounded-[50%] -bg--lion-lightblue-400 p-2">
                <img src="./../assets/map/Icon/Group.png" alt="" />
            </div>
            <figcaption class="-text--lion-label-small -text--lion-lightblue-400">NO.1</figcaption>
        </figure>
        <section class="relative mt-3 bg-white">
            <img class="w-full" src="./../assets/map/ImagefieldFeed.png" alt="" />
            <img class="absolute right-[-8px] top-[-6px]" src="./../assets/map/Icon/close.png" alt="" />
            <div class="my-6 flex flex-col px-[38px] bg-white text-center ">
                <div class="flex flex-row justify-center">
                    <time class="mr-[2px] -text--lion-label-small -text--lion-lightblue-400" datetime="2022-11-04">
                        22.11.4금
                    </time>
                    <span
                        class="mb-2 rounded-[4px] border-[1px] border-solid -border--lion-lightblue-400 px-1 -text--lion-paragraph-small -text--lion-lightblue-400">방문</span>
                </div>
                <p class="line-clamp-3 text-justify -text--lion-paragraph-small">
                    지나가다 보고 너무 예뻐서 저장해 놓았다가 이번에 가게 되었는데 너무 예쁘고 좋았어요.
                    분위기도 힙하고 새로 생겼는데 오래 동안 기다렸던 카페입니다.
                </p>
                <div class="mt-2 flex justify-center gap-1">
                    <figure class="flex rounded bg-gray-50 px-1 py-[2px]">
                        <img src="./../assets/map/Icon/clock.png" alt="시계" />
                        <figcaption class="ml-[2px] -text--lion-paragraph-small -text--lion-contents-content-secondary">
                            수업 시간이 충분해요
                        </figcaption>
                    </figure>
                    <span class="rounded bg-gray-50 px-2 py-[2px] -text--lion-paragraph-small -text--lion-contents-content-secondary">+4</span>
                </div>
            </div>
            <div class="border-t border-dashed px-5 py-3 -text--lion-label-medium">
                <h2>HOT MESS</h2>
                <span
                    class="-text--lion-label-small -text--lion-contents-content-secondary after:ml-1 after:content-['|']">리뷰
                    5</span>
                <span class="-text--lion-label-small -text--lion-contents-content-secondary">서울시 연남동</span>
                <div class=""><img src="./../assets/map/영수증밑단.png" alt="" /></div>
            </div>
        </section>
        <figure class="ml-4 mt-3 flex items-center">
            <div class="mr-[6px] rounded-[50%] -bg--lion-lightblue-400 p-2">
                <img src="./../assets/map/Icon/Group.png" alt="" />
            </div>
            <figcaption class="-text--lion-label-small -text--lion-lightblue-400">NO.2</figcaption>
        </figure>
        <section class="relative mt-3 bg-white">
            <img class="w-full" src="./../assets/map/ImagefieldFeed.png" alt="" />
            <img class="absolute right-[-8px] top-[-6px]" src="./../assets/map/Icon/close.png" alt="" />
            <div class="my-6 flex flex-col px-[38px] bg-white text-center ">
                <div class="flex flex-row justify-center">
                    <time class="mr-[2px] -text--lion-label-small -text--lion-lightblue-400" datetime="2022-11-04">
                        22.11.4금
                    </time>
                    <span
                        class="mb-2 rounded-[4px] border-[1px] border-solid -border--lion-lightblue-400 px-1 -text--lion-paragraph-small -text--lion-lightblue-400">방문</span>
                </div>
                <p class="line-clamp-3 text-justify -text--lion-paragraph-small">
                    지나가다 보고 너무 예뻐서 저장해 놓았다가 이번에 가게 되었는데 너무 예쁘고 좋았어요.
                    분위기도 힙하고 새로 생겼는데 오래 동안 기다렸던 카페입니다.
                </p>
                <div class="mt-2 flex justify-center gap-1">
                    <figure class="flex rounded bg-gray-50 px-1 py-[2px]">
                        <img src="./../assets/map/Icon/clock.png" alt="시계" />
                        <figcaption class="ml-[2px] -text--lion-paragraph-small -text--lion-contents-content-secondary">
                            수업 시간이 충분해요
                        </figcaption>
                    </figure>
                    <span class="rounded bg-gray-50 px-2 py-[2px] -text--lion-paragraph-small -text--lion-contents-content-secondary">+4</span>
                </div>
            </div>
            <div class="border-t border-dashed px-5 py-3 -text--lion-label-medium">
                <h2>HOT MESS</h2>
                <span
                    class="-text--lion-label-small -text--lion-contents-content-secondary after:ml-1 after:content-['|']">리뷰
                    5</span>
                <span class="-text--lion-label-small -text--lion-contents-content-secondary">서울시 연남동</span>
            </div>
            <div><img src="./../assets/map/영수증밑단.png" alt="" /></div>
        </section>
    </div>
</body>

</html>
