<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500"
      type="image/xml+svg"
    />
    <link rel="stylesheet" href="../css/main.css" />
    <script src="./../js/common/themePage/themePage.js" type="module"></script>
    <title>themePage</title>
  </head>

  <body class="mb-[80px]">
    <!-- <h2 class="text-indigo-500">themePage</h2> -->

    <header class="relative -bg--lion-blue-900 px-5 pb-2 pt-10 text-white"></header>

    <nav class="feed-nav -bg--lion-blue-900 -text--lion-lightblue-300">
      <ul class="flex py-[4px] text-center">
        <li class="flex-1">
          <button onclick="location.href='./feed.html'">피드</button>
        </li>
        <li class="flex-1"><button>방문</button></li>
        <li class="is-active flex-1">
          <button onclick="location.href='./themePage.html'">리뷰</button>
        </li>
        <li class="flex-1"><button>예약·주문</button></li>
      </ul>
    </nav>

    <main class="-text--lion-label-medium">
      <!-- 테마 -->
      <div class="mx-auto max-w-screen-xl -bg--lion-gray-100 px-2 pb-7 pt-4">
        <h1 class="mb-2 font-bold">
          테마
          <span class="-text--lion-contents-content-secondary">1</span>
        </h1>

        <div class="flex gap-4">
          <!-- 임시저장 -->
          <!-- <div class="absolute left-0 top-0 h-full w-full rounded"></div> -->
          <div class="relative">
            <div>
              <img
                src="./../assets/themePage/save.png"
                alt="임시저장"
                class="h-full w-full object-cover"
              />
              <div
                class="absolute left-0 top-0 h-full w-full rounded-xl"
                style="background-image: linear-gradient(to bottom, transparent 0%, white 60%)"
              ></div>
              <div class="absolute left-0 top-0 flex h-full w-full items-center pb-4 pl-2">
                <p class="-text--lion-label-medium font-bold -text--lion-contents-content-primary">
                  연남/합정 데이트
                </p>
              </div>
              <button class="absolute left-2 top-[94px] flex">
                <p class="-text--lion-label-small -text--lion-contents-content-primary">장소 2</p>
                <span
                  class="bg-cover-icon absolute ml-8 mt-0.5 block h-3 w-3 bg-contain bg-center bg-no-repeat"
                  style="background-image: url('./../assets/themePage/Icon/eye.png')"
                ></span>
                <p class="pl-4 -text--lion-label-small -text--lion-contents-content-primary">7</p>
              </button>
            </div>

            <p
              class="absolute left-2 top-2 rounded-md -bg--lion-white bg-opacity-50 p-1 -text--lion-label-small -text--lion-contents-content-secondary"
            >
              임시저장
            </p>

            <div
              class="absolute bottom-3 left-2 flex overflow-hidden -text--lion-label-small font-bold -text--lion-black"
            >
              <p
                class="flex h-[42px] w-[42px] items-center rounded-md -bg--lion-gray-200 px-[10px]"
              >
                img
              </p>
              <p
                class="ml-1 flex h-[42px] w-[42px] items-center rounded-md -bg--lion-gray-200 px-[10px]"
              >
                img
              </p>
            </div>
          </div>

          <div class="addReviewList relative h-[184px] w-[148px] rounded-lg -bg--lion-white">
            <button class="absolute inset-0 bottom-10 flex items-center justify-center">
              <!-- 원 스타일 -->
              <span class="h-[46px] w-[46px] rounded-full -bg--lion-lightblue-900">
                <!-- 가운데 + 모양 -->
                <span
                  class="absolute left-1/2 top-1/2 h-0.5 w-4 -translate-x-1/2 -translate-y-1/2 transform bg-white"
                ></span>
                <span
                  class="absolute left-1/2 top-1/2 h-4 w-0.5 -translate-x-1/2 -translate-y-1/2 transform bg-white"
                ></span>
              </span>
            </button>

            <div class="absolute inset-0 top-16 flex items-center justify-center">
              <div class="text-center">
                <p class="-text--lion-label-small -text--lion-contents-content-tertiary">
                  내 리뷰만 모아
                </p>
                <p class="-text--lion-label-small -text--lion-contents-content-tertiary">
                  테마 만들기
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mx-3">
        <!-- 전체/사진 버튼 -->
        <div class="mb-2 mt-2 flex items-center -text--lion-label-small -text--lion-black">
          <button class="flex items-center rounded-lg py-2">
            <span
              class="bg-all-icon mb-0.5 block h-4 w-4 bg-contain bg-center bg-no-repeat"
              style="background-image: url('./../assets/themePage/Icon/hamburger.png')"
            ></span>
            <span class="mx-2 -text--lion-contents-content-secondary">전체</span>
          </button>
          <button class="flex items-center rounded-lg py-2">
            <span
              class="bg-all-icon mb-0.5 block h-4 w-4 bg-contain bg-center bg-no-repeat"
              style="background-image: url('./../assets/themePage/Icon/photo.png')"
            ></span>
            <span class="mx-2 font-bold">사진</span>
          </button>
          <button class="ml-auto flex items-center rounded-lg py-2">
            <span>최신순</span>
            <span
              class="bg-all-icon mb-0.5 ml-1 block h-4 w-4 bg-contain bg-center bg-no-repeat"
              style="background-image: url('./../assets/themePage/Icon/up.png')"
            ></span>
          </button>
        </div>

        <!-- 사진 모음 -->
        <div class="grid grid-cols-2 gap-2">
          <div class="rounded-lg">
            <button class="relative">
              <img
                src="./../assets/themePage/ImagefieldFeed-7.png"
                alt="서울시 서교동  조블라
                "
              />
              <span
                class="bg-cover-icon absolute right-3 top-2 block h-5 w-5 bg-contain bg-center bg-no-repeat"
                style="background-image: url('./../assets/themePage/Icon/bookmark.png')"
              ></span>
              <span class="absolute bottom-2 left-2 flex flex-col text-left -text--lion-white">
                <span class="-text--lion-label-small">서울시 서교동</span>
                <span class="-text--lion-label-medium">조블라</span>
              </span>
            </button>
          </div>

          <div class="rounded-lg">
            <button class="relative">
              <img
                src="./../assets/themePage/ImagefieldFeed-6.png"
                alt="서울시 서교동 후타츠 홍대점"
              />
              <span
                class="bg-cover-icon absolute right-3 top-2 block h-5 w-5 bg-contain bg-center bg-no-repeat"
                style="background-image: url('./../assets/themePage/Icon/bookmark.png')"
              ></span>
              <span class="absolute bottom-2 left-2 flex flex-col text-left -text--lion-white">
                <span class="-text--lion-label-small">서울시 서교동</span>
                <span class="-text--lion-label-medium">후타츠 홍대점</span>
              </span>
            </button>
          </div>

          <div class="rounded-lg">
            <button class="relative">
              <img
                src="./../assets/themePage/ImagefieldFeed-5.png"
                alt="서울시 응암동 기린 작업실"
              />
              <span
                class="bg-cover-icon absolute right-3 top-2 block h-5 w-5 bg-contain bg-center bg-no-repeat"
                style="background-image: url('./../assets/themePage/Icon/bookmark.png')"
              ></span>
              <span class="absolute bottom-2 left-2 flex flex-col text-left -text--lion-white">
                <span class="-text--lion-label-small">서울시 응암동</span>
                <span class="-text--lion-label-medium">기린 작업실</span>
              </span>
            </button>
          </div>

          <div class="rounded-lg">
            <button class="relative">
              <img
                src="./../assets/themePage/ImagefieldFeed-4.png"
                alt="서울시 서교동 마포곱창타운"
              />
              <span
                class="bg-cover-icon absolute right-3 top-2 block h-5 w-5 bg-contain bg-center bg-no-repeat"
                style="background-image: url('./../assets/themePage/Icon/bookmark.png')"
              ></span>
              <span class="absolute bottom-2 left-2 flex flex-col text-left -text--lion-white">
                <span class="-text--lion-label-small">서울시 서교동</span>
                <span class="-text--lion-label-medium">마포곱창타운</span>
              </span>
            </button>
          </div>

          <div class="rounded-lg">
            <button class="relative">
              <img
                src="./../assets/themePage/ImagefieldFeed-1.png"
                alt="서울시 연남동 뉴오더클럽"
              />
              <span
                class="bg-cover-icon absolute right-3 top-2 block h-5 w-5 bg-contain bg-center bg-no-repeat"
                style="background-image: url('./../assets/themePage/Icon/bookmark.png')"
              ></span>
              <span class="absolute bottom-2 left-2 flex flex-col text-left -text--lion-white">
                <span class="-text--lion-label-small">서울시 연남동</span>
                <span class="-text--lion-label-medium">뉴오더클럽</span>
              </span>
            </button>
          </div>

          <div class="rounded-lg">
            <button class="relative">
              <img src="./../assets/themePage/ImagefieldFeed.png" alt="서울시 망원동 코락" />
              <span
                class="bg-cover-icon absolute right-3 top-2 block h-5 w-5 bg-contain bg-center bg-no-repeat"
                style="background-image: url('./../assets/themePage/Icon/bookmark.png')"
              ></span>
              <span class="absolute bottom-2 left-2 flex flex-col text-left -text--lion-white">
                <span class="-text--lion-label-small">서울시 망원동</span>
                <span class="-text--lion-label-medium">코락</span>
              </span>
            </button>
          </div>

          <div class="relative rounded-lg">
            <button>
              <img
                src="./../assets/themePage/ImagefieldFeed-3.png"
                alt="서울시 동교동 바다회사랑회"
              />
              <span
                class="bg-cover-icon absolute right-3 top-2 block h-5 w-5 bg-contain bg-center bg-no-repeat"
                style="background-image: url('./../assets/themePage/Icon/bookmark.png')"
              ></span>
              <span class="absolute bottom-2 left-2 flex flex-col text-left -text--lion-white">
                <span class="-text--lion-label-small">서울시 동교동</span>
                <span class="-text--lion-label-medium">바다회사랑회</span>
              </span>
            </button>
          </div>

          <div class="rounded-lg">
            <button class="relative">
              <img
                src="./../assets/themePage/ImagefieldFeed-2.png"
                alt="서울시 서교동 삼쭈삼 홍대점"
              />
              <span
                class="bg-cover-icon absolute right-3 top-2 block h-5 w-5 bg-contain bg-center bg-no-repeat"
                style="background-image: url('./../assets/themePage/Icon/bookmark.png')"
              ></span>
              <span class="absolute bottom-2 left-2 flex flex-col text-left -text--lion-white">
                <span class="-text--lion-label-small">서울시 서교동</span>
                <span class="-text--lion-label-medium">삼쭈삼 홍대...</span>
              </span>
            </button>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <nav class="feed-tabbar fixed bottom-0 w-full bg-white">
        <ul class="flex justify-center">
          <li class="px-[12px] py-[8px]">
            <a href="#" class="flex flex-col items-center">
              <img class="h-[24px]" src="../assets/feed/icon-group.png" alt="지도" /><span
                class="-text--lion-paragraph-small"
                >지도</span
              >
            </a>
          </li>
          <li class="px-[12px] py-[8px]">
            <a href="#" class="flex flex-col items-center">
              <img class="h-[24px]" src="../assets/feed/icon-save.png" alt="저장" /><span
                class="-text--lion-paragraph-small"
                >저장</span
              >
            </a>
          </li>
          <li class="px-[12px] py-[8px]">
            <a href="#" class="flex flex-col items-center">
              <img class="h-[24px]" src="../assets/feed/icon-subway.png" alt="대중교통" /><span
                class="-text--lion-paragraph-small"
                >대중교통</span
              >
            </a>
          </li>
          <li class="px-[12px] py-[8px]">
            <a href="#" class="flex flex-col items-center">
              <img class="h-[24px]" src="../assets/feed/icon-car.png" alt="내비게이션" /><span
                class="-text--lion-paragraph-small"
                >내비게이션</span
              >
            </a>
          </li>
          <li class="px-[12px] py-[8px]">
            <a href="#" class="flex flex-col items-center">
              <img class="h-[24px]" src="../assets/feed/icon-my.png" alt="내정보" /><span
                class="-text--lion-paragraph-small"
                >내정보</span
              >
            </a>
          </li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
