<!doctype html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" type="image/xml+svg" />
  <link rel="stylesheet" href="../css/main.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=accaf5153a2184ffc44a8f6eae1fc86e"></script>
  <script type="text/javascript"
    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=accaf5153a2184ffc44a8f6eae1fc86e&libraries=services,clusterer,drawing"></script>
  <script src="./../js/map/map.js" type="module"></script>
  <title>project</title>
</head>

<body class="bg-[#F9F9F9]">
  <div class="theme-title-inner">

  </div>
  <div class="review-nav-inner">
  </div>
  <div class="user-profile-area flex items-center justify-between rounded-t-xl bg-white px-[10px] -mt-[12px] pt-4">
    <div class="flex items-center gap-2">
      <dl>
        <dt class="absolute -m-1 hidden h-1 w-1 overflow-hidden whitespace-nowrap border-0 p-0">
          유저 프로필 사진
        </dt>
        <dd class="inline-block rounded-[50%] -bg--lion-lightblue-400 p-1">
          <img class="h-[46px] w-[46px]" src="./../assets/map/userProfile.png" alt="유저 프로필 사진" />
        </dd>
      </dl>
      <dl>
        <dt class="-text--lion-label-small">COOLION</dt>
        <dd class="-text--lion-label-small -text--lion-contents-content-tertiary">
          리뷰 17 • 사진 19 • 팔로워 2 • 테마 0
        </dd>
      </dl>
    </div>
    <img class="h-[30px] w-[30px]" src="./../assets/map//Icon/icon-right.png" alt="" />
  </div>
  <div class="mx-auto mb-4 w-[90%]">
    <button class="edit-button mt-[34px] flex w-[100%] justify-center rounded-[50px] -bg--lion-lightblue-300 py-2">
      <img src="./../assets/map/Icon/icon-pencil.png" alt="" />수정하기
    </button>
    <div class="review-card-inner flex flex-col gap-5 pt-5">
    </div>
  </div>
  <div class="map relative">
    <button class="expand-button absolute right-[6%] top-[4%] z-10 bg-cover block">
      <img class="w-[100%]" src="./../assets/map/Icon/spread.svg" alt="" />
    </button>
    <div class="mx-auto mb-10 h-[400px] w-[90%] rounded-xl" id="map"></div>
  </div>
</body>

</html>