<!doctype html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" type="image/xml+svg" />
    <link rel="stylesheet" href="../css/main.css" />
    <script src="../js/main.js" type="module"></script>
    <title>project</title>
</head>

<body class="bg-[#F9F9F9]">
    <section class="bg-[url('./../assets/map/reviewPost.png')] bg-cover bg-center pb-8 relative">
        <div class="flex flex-row justify-between px-[10px] py-[14px]">
            <button>
                <img src="./../assets/map/Icon/left.png" alt="뒤로가기" />
            </button>
            <button class="flex flex-row rounded-[50px] -bg--lion-lightblue-300 px-3">
                <img class="py-2" src="./../assets/map/Icon/check.png" alt="등록" />
                <span class="py-3 -text--lion-label-small text-white">등록</span>
            </button>
        </div>
        <div class="flex flex-col">
            <span class="ml-4 mt-[10px] -text--lion-label-xl text-white">연남/합정 데이트</span>
            <span class="mr-[22px] self-end -text--lion-paragraph-small -text--lion-contents-content-secondary"><span
                    class="-text--lion-label-small text-white">9</span>/20</span>
            <h2 class="ml-4 mt-[14px] -text--lion-label-small text-white">데이트 코스 모음</h2>
            <span
                class="mr-[22px] mt-3 self-end -text--lion-paragraph-small -text--lion-contents-content-secondary"><span
                    class="-text--lion-label-small text-white">9</span>/100</span>
            <button class="flex self-end gap-1 mt-[88px] mr-[22px] rounded-[50px] border-[1px] border-white px-4 py-2">
                <img class="my-[4px]" src="./../assets/map/Icon/subway.png" alt="" />
                <span class=" text-white">지도</span>
            </button>
        </div>
    </section>
    <div class="flex justify-between items-center pt-4 px-[10px] bg-white">
        <div class="flex items-center gap-2">
            <dl>
                <dt class="hidden absolute w-1 h-1 overflow-hidden -m-1 border-0 p-0 whitespace-nowrap">유저 프로필 사진</dt>
                <dd class="p-1 -bg--lion-lightblue-400 rounded-[50%] inline-block">
                    <img class="w-[46px] h-[46px]" src="./../assets/map/userProfile.png" alt="유저 프로필 사진" />
                </dd>
            </dl>
            <dl>
                <dt class="-text--lion-label-small">COOLION</dt>
                <dd class="-text--lion-label-small -text--lion-contents-content-tertiary">
                    리뷰 17 • 사진 19 • 팔로워 2 • 테마 0
                </dd>
            </dl>
        </div>
        <img class="w-[30px] h-[30px]" src="./../assets/map//Icon/icon-right.png" alt="" />
    </div>
    <button class="w-[90%] -bg--lion-lightblue-300 flex mt-[34px] justify-center mx-4 py-2 rounded-[50px]"><img
            src="./../assets/map/Icon/icon-pencil.png" alt="" />수정하기</button>
    <figure class="ml-4 mt-4 flex items-center">
        <div class="mr-[6px] rounded-[50%] -bg--lion-lightblue-400 p-2">
            <img src="./../assets/map/Icon/Group.png" alt="" />
        </div>
        <figcaption class="-text--lion-label-small -text--lion-lightblue-400">NO.1</figcaption>
    </figure>
    <section class="mt-3 mx-4 bg-white">
        <img class="w-full" src="./../assets/map/ImagefieldFeed.png" alt="" />
        <div class="my-6 flex flex-col px-[38px] text-center">
            <div class="flex flex-row justify-center">
                <time class="mr-[2px] -text--lion-label-small -text--lion-lightblue-400" datetime="2022-11-04">
                    22.11.4금
                </time>
                <span
                    class="mb-2 rounded-[4px] border-[1px] border-solid -border--lion-lightblue-400 px-1 -text--lion-paragraph-small -text--lion-lightblue-400">방문</span>
            </div>
            <p class="line-clamp-3 text-justify -text--lion-paragraph-small">
                지나가다 보고 너무 예뻐서 저장해 놓았다가 이번에 가게 되었는데 너무 예쁘고 좋았어요.
                분위기도 힙하고 새로 생겼는데 오래 동안 기다렸던 카페입니다.
            </p>
            <div class="mt-2 flex justify-center gap-1">
                <figure class="flex rounded bg-gray-50 px-1 py-[2px]">
                    <img src="./../assets/map/Icon/clock.png" alt="시계" />
                    <figcaption class="ml-[2px] -text--lion-paragraph-small -text--lion-contents-content-secondary">
                        수업 시간이 충분해요
                    </figcaption>
                </figure>
                <span class="rounded bg-gray-50 px-2 py-[2px] -text--lion-paragraph-small -text--lion-contents-content-secondary">+4</span>
            </div>
        </div>
        <div class="border-t border-dashed px-5 py-3 -text--lion-label-medium">
            <h2>HOT MESS</h2>
            <span
                class="-text--lion-label-small -text--lion-contents-content-secondary after:ml-1 after:content-['|']">리뷰
                5</span>
            <span class="-text--lion-label-small -text--lion-contents-content-secondary">서울시 연남동</span>
        </div>
    </section>
    <section class="rmt-3 mx-4 bg-white">
        <img class="w-full" src="./../assets/map/ImagefieldFeed.png" alt="" />
        <div class="my-6 flex flex-col px-[38px] text-center">
            <div class="flex flex-row justify-center">
                <time class="mr-[2px] -text--lion-label-small -text--lion-lightblue-400" datetime="2022-11-04">
                    22.11.4금
                </time>
                <span
                    class="mb-2 rounded-[4px] border-[1px] border-solid -border--lion-lightblue-400 px-1 -text--lion-paragraph-small -text--lion-lightblue-400">방문</span>
            </div>
            <p class="line-clamp-3 text-justify -text--lion-paragraph-small">
                지나가다 보고 너무 예뻐서 저장해 놓았다가 이번에 가게 되었는데 너무 예쁘고 좋았어요.
                분위기도 힙하고 새로 생겼는데 오래 동안 기다렸던 카페입니다.
            </p>
            <div class="mt-2 flex justify-center gap-1">
                <figure class="flex rounded bg-gray-50 px-1 py-[2px]">
                    <img src="./../assets/map/Icon/clock.png" alt="시계" />
                    <figcaption class="ml-[2px] -text--lion-paragraph-small -text--lion-contents-content-secondary">
                        수업 시간이 충분해요
                    </figcaption>
                </figure>
                <span class="rounded bg-gray-50 px-2 py-[2px] -text--lion-paragraph-small -text--lion-contents-content-secondary">+4</span>
            </div>
        </div>
        <div class="border-t border-dashed px-5 py-3 -text--lion-label-medium">
            <h2>HOT MESS</h2>
            <span
                class="-text--lion-label-small -text--lion-contents-content-secondary after:ml-1 after:content-['|']">리뷰
                5</span>
            <span class="-text--lion-label-small -text--lion-contents-content-secondary">서울시 연남동</span>
        </div>
    </section>
</body>

</html>